@media (max-width: 1440px) {
  header {
    padding: 0 15%;
  }
  .hero-section {
    padding-left: 15%;
    padding-right: 15%;
  }
  .container3 {
    padding-left: 15%;
    padding-right: 15%;
  }
  .container4 {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (max-width: 550px) {
  .splashtext {
    display: none;
  }
  .menu {
    margin: 20px 20px 0 0;
  }
}

@media (max-width: 878px) {
  .menu {
    margin: 20px 20px 0 0;
    gap: 10px;
  }
}
@media (min-width: 878px) {
  .navbar {
    position: relative;
  }
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
  }

  .menu li {
    border: none;
  }

  .menu li a {
    color: white;
  }

  .menu-icon {
    display: none;
  }
}
@media (max-width: 764px) {
  .menu {
    margin: 20px 0 0 0;
  }

}

@media (max-width: 1053px) {
  header {
    padding: 0 100px;
  }
}
@media (max-width: 1333px) {
  .choice-data .data-item__spec {
    display: none;
  }
  .inputtext {
    display: none;
  }
}
@media (max-width: 1085px) {
  header ul {
    display: none;
  }
  header #menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 25px;
  }
  .splashtext {
    text-align: center;
  }
  .hero-section {
    padding: 23% 10% 82px 10%;
  }
  .container3 {
    padding: 8% 10% 10% 10%;
  }
  .container4 {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) {
  .hero-section {
    padding: 23% 2rem 82px 2rem;
  }
  header {
    padding: 0 2rem;
  }
  .container3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .maintoppers {
    overflow: scroll;
  }
}
@media (max-width: 550px) {
  .choice-data {
    opacity: 0%;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
    display: flex;
    gap: 5px;
  }
  header {
    padding: 0 20px 0 10px;
  }
}
@media (max-width: 490px) {
  .logo {
    width: 120px;
    height: 80px;
  }
}
@media (max-width: 425px) {
  a.program {
    align-self: flex-start;
  }
}
/* ХЕЙДЕР АДАПТ ЗАКОНЧЕН */
@media (max-width: 1730px) {
  .lucyfirst {
    width: 300px;
    height: 280px;
  }
  .lucygif {
    width: 300px;
    height: 280px;
  }
  .mainphooto {
    padding: 3% 20% 130px 20%;
  }
  h4 {
    font-size: 29px;
  }
  .aboutourtrip {
    font-size: 16px;
  }
  .hiscoren {
    font-size: 13px;
  }
  .characters {
    width: 230px;
    height: 220px;
  }
}
@media (max-width: 1554px) {
  .lucyfirst {
    width: 270px;
    height: 260px;
  }
  .lucygif {
    width: 270px;
    height: 260px;
    margin: 0 0 0 70px;
    top: 110px;
  }
}
@media (max-width: 1300px) {
  .lucyfirst {
    display: none;
  }
  .mainphooto {
    gap: 2rem;
  }
  .lucygif {
    position: inherit;
    width: 280px;
    height: 290px;
    margin: 4% 0 0 0;
    top: 0px;
  }
}
@media (max-width: 1200px) {
  .mainphooto {
    padding: 3% 16% 130px 16%;
  }
  h4 {
    font-size: 26px;
  }
  .aboutourtrip {
    font-size: 14px;
  }
  .hiscoren {
    font-size: 11px;
  }
}
@media (max-width: 1080px) {
  .mainphooto {
    padding: 3% 10% 82px 10%;
  }
}
@media (max-width: 920px) {
  .lucyfirst {
    display: none;
  }
  .lucygif {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10px;
    top: 30px;
  }
  .mainphooto {
    padding: 10% 5% 62px 12%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .program {
    align-self: center;
    padding: 15px 20px;
  }
  .iconmain {
    align-items: center;
  }
  .vote {
    padding: 10px 70px;
  }
}
/* 2 БЛОК ОКОЧЕН */
@media (max-width: 1700px) {
}

@media (max-width: 1523px) {
  .mini-icon {
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 920px) {
  .right-section {
    display: none;
  }
  .left-section {
    font-size: 40px;
  }
  .container3 {
    display: flex;
    justify-content: center;
    padding: 8% 20% 10% 30%;
  }
  .container3 {
    padding: 100px 100px 100px 150px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 920px) {
  .container3 {
    padding: 100px 20px 100px 20px;
  }
}
/* 4 КОНТЕЙНЕР */
@media (max-width: 1410px) {
  .line2 {
    font-size: 12px;
  }
}
@media (max-width: 920px) {
  .topper-item {
    min-width: 222px;
    border-radius: 20px;
    position: relative;
    flex-grow: 1;
    display: flex;
  }
  .line2 {
    font-size: 10px;
  }
  .container4 {
    padding: 3% 5% 7% 5%;
  }
  .overlay {
    padding: 5px 20px;
  }
  .overlay .buton {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 780px) {
  .topper-item {
    width: 100px;
    border-radius: 20px;
    display: flex;
  }
  .container4 {
    padding: 3% 1% 7% 5%;
  }
}
/* 5 КОНТЕЙНЕР */
@media (max-width: 1755px) {
  .maincard {
    max-width: 600px;
  }
  .maincardimg {
    width: 240px;
  height: 280px;
  }
}
@media (max-width: 1500px) {
  .maincard {
    max-width: 500px;
  }
  .maincardimg {
    height: 290px;
  }
}
@media (max-width: 1350px) {
  .maincard {
    max-width: 460px;
  }
  .maincardimg {
    width: 190px;
    height: 220px;
  }
  .maincardtext {
    font-size: 14px;
  }
  .bigfontcard {
    padding: 5px 0 0 0;
  }
  .datecard {
    margin: 25px 0 0 0;
  }
}
@media (max-width: 1230px) {
  .maincard {
    max-width: 420px;
  }
  .datecard {
    margin: 0px 0 0 0;
  }
}
@media (max-width: 1090px) {
  .maincard {
    max-width: 390px;
  }
  .moreinfocard {
    font-size: 10px;
  }
  .bigfontcard {
    font-size: 14px;
  }
}
  @media (max-width: 920px) {
    .container5 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 5% 5% 3% 5%;
    }
    .datecard {
      margin: 0px 0 0 0;
    }
    .maincardimg {
      width: 220px;
      height: 250px;
    }
  .maincard {
    max-width: 100%;
  }
  .maincardtext {
    font-size: 18px;
  }
  .bigfontcard {
    padding: 10px 0 0 0;
  }
  .datecard {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 763px) {
    .container5 {
      padding: 5% 1% 1% 5%;
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      width: 100%;
      overflow-x: scroll;
      gap: 10px;
    }
    .maintoppers {
      justify-content: flex-start;
    }
    .maincardimg {
      width: 200px;
      height: 210px;
    }
  .maincard {
    max-width: 100%;
    flex-direction: column;
  }
  .maincardtext {
    font-size: 11px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 5px;
  }
  .bigfontcard {
    font-size: 15px;
    padding: 10px 0 0 0;
  }
  .datecard {
    margin: 5px 0;
    display: flex;
    gap: 90px;
  }
}
/* контейнер6 */
@media (max-width: 1196px) {
  .comonblock {
    width: 210px;
    height: 220px;
  }
  .bigblock {
     width: 210px;
    height: 220px;
  }
}
@media (max-width: 763px) {
  .container6main {
    background: linear-gradient(to bottom, #000020, #0f0f1f, #1b1b2f);
    width: 100%;
    padding: 5% 1% 20% 5%;
  }
  .textcont6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 30px 0;
  }
  .photostextcont6 {
    color: #cdcd01;
  }
  .beautifulcont6 {
    color: white;
    font-size: 24px;
  }
  .comonblock {
    background: linear-gradient(to bottom, #000030, #0f0f1f, #1b1b2f);
    width: 279px;
    height: 253px;
    border-radius: 10px;
  }
  .container6 {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
  }
  .bigblock {
    background: linear-gradient(to bottom, #000010, #0f0f1f, #1b1b2f);
    width: 279px;
    height: 255px;
    border-radius: 10px;
  }
  .wancolon {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .toocolon {
      display: flex;
      gap: 20px;
  }
}
/* межблочное меню*/

@media (max-width: 1243px) {
  .interconnect {
    width: 1080px;
  }
}
@media (max-width: 1090px) {
  .helpproect {
    font-size: 25px;
  }
  .interconnect {
    max-width:  900px;
  }
}
@media (max-width: 980px) {
  .buttoncheck {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .politika {
    max-width: 100%;
  }
  .supporttwo {
    flex-grow: 2;
  }
  .interconnect {
    bottom:  -120px;
    height: 250px;
  }
  .helpproect {
   max-width: 100%;
  }
  .support {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .interconnect {
    padding: 25px 60px;
  }
    .interconnecttext {
      display: block ;
    }
}
@media (max-width: 910px) {
  .interconnect {
    max-width:  700px;
  }
}
@media (max-width: 713px) {
  .interconnect {
    max-width:  600px;
  }
}
@media (max-width: 617px) {
  .support {
    display: flex;
    align-items: flex-start;
  }
  .interconnect {
    gap: 20px;
    padding: 20px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    position: static;
    border-radius: 0;
  }
  .e-mailenter {
    display: flex;
    flex-direction: column;
  }
  .buttoncheck {
    width: 50%;
  }
  .interconnect {
    bottom:  -120px;
    height: 350px;
  }
  .supporttwo  {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .support {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .email {
    margin: 5px 0;
  }
}
@media (max-width: 420px) {
  .interconnect {
    bottom:  -120px;
    height: 380px;
  }
}
@media (max-width: 1600px) {
  .containerfooter {
   padding: 13% 9% 5% 10.5%;
  }
  .footermoretext {
    max-width: 300px;
  }
}
@media (max-width: 1000px) {
  .containerfooter {
    flex-wrap: wrap;
    padding: 20% 10% 5% 10%;
  }
}
@media (max-width: 751px) {
  .containerfooter {
    flex-direction: column;
    gap: 40px;
    padding: 25% 5% 5% 5%;
  }
  .contacts {
    margin: 50px 0 30px 0;
  }
  }
  @media (max-width: 616px) {
    .containerfooter {
      padding: 5% 5% 5% 5%;
    }
  }


