@font-face {
  font-family: "Cyber";
  src: url(fonts/CANNET\ AGENCY\ DEMO.ttf);
}
@font-face {
  font-family: "Bebas";
  src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}
* {
  /* width: 120%; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: "Bebas";
  font-weight: 500;
  letter-spacing: 0.06em;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Cyber";
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  height: 100px;
  background: linear-gradient(to bottom, #0f0f1a, #0a0a14, #000000);
}

header svg {
  display: none;
}

header a {
  text-decoration: none;
  color: #d8d8d8;
  font-weight: 400;
  transition: all 0.3s;
}
nav {
  display: flex;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}
li {
  font-size: 18px;
}
li:hover a {
  color: #dbdb00ea;
  transform: scale(1.04);
}
.logo {
  width: 180px;
  height: 70px;
  filter: brightness(0) invert(1);
  transition: all 0.9s ease-in;
}
.logo:hover {
  filter: invert(0);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.consult {
  margin: 0 0 0 20px;
  background-color: rgb(199, 199, 199);
  padding: 10px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.splashtext {
  line-height: 1.3;
  font-size: clamp(0.875rem, 0.381rem + 2.026vw, 2.813rem);
  font-weight: 400;
  letter-spacing: 0.5em;
  line-height: 1.3;
  color: #ffffff;
}
.hero-section {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(27, 27, 47, 0.2) 90%,
      #1b1b2f 100%
    ),
    url(images/main-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 23% 15% 82px 15%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.choice-data {
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 30, 0.5) 0%,
    rgba(30, 5, 60, 0.4) 50%,
    rgba(5, 0, 15, 0.3) 100%
  );
  backdrop-filter: blur(6.5px);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.data-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}
input {
  min-width: 240px;
  padding: 0 0 0 20px;
  height: 60px;
  border-radius: 8px;
  border-radius: 10px solid;
  color: white;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 30, 0.5) 0%,
    rgba(30, 5, 60, 0.4) 50%,
    rgba(5, 0, 15, 0.3) 100%
  );
  border: none;
}
.inputtext {
  color: white;
  margin: 0 0 0 8px;
}
a.button {
  align-self: flex-start;
  font-size: 12px;
  margin-left: 8px;
  flex-grow: 1;
  font-family: "Cyber";
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 3px #7d7d7d;
}
.button:hover {
  transform: scale(1.034);
  background: #cdcd01;
  color: #ffffff;
  box-shadow: 0 15px 3px #4d4d00;
  border: none;
}
/* ХЕЙДЕР ЗАКОНЧЕН */

.mainphooto {
  background: linear-gradient(to bottom, #1b1b2f, #0f0f1f, #000000);
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 12rem;
  position: relative;
  padding: 3% 15% 140px 15%;
}

.lucyfirst {
  max-width: 380px;
  height: 370px;
  border-radius: 25px;
  filter: brightness(85%);
  box-shadow: 0 10px 10px 0px rgb(0, 0, 0);
}
.lucygif {
  position: absolute;
  margin: 0 0 0 150px;
  top: 150px;
  width: 380px;
  height: 370px;
  border-radius: 45px;
  transition: 0.8s ease;
  box-shadow: 10px 30px 20px 0px rgb(0, 0, 0);
}
.lucygif:hover {
  opacity: 0%;
  transition-delay: 0.1s;
}
.photoinfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
h4 {
  font-size: 38px;
  color: rgb(235, 235, 235);
  max-width: 290px;
}
.program {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  padding: 15px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 3px #7d7d7d;
}
.program:hover {
  transform: scale(1.034);
  background: #cdcd01;
  color: #ffffff;
  box-shadow: 0 15px 3px #4d4d00;
  border: none;
}

.aboutourtrip {
  color: #c9c900;
  font-size: 23px;
}
.hiscoren {
  color: #e8e8e8;
  font-size: 18px;
}
/* 2 БЛОК ОКОНЧЕН */
.container3 {
  background: linear-gradient(to bottom, #000000, #0f0f1f, #1b1b2f, #000020);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 8% 15% 10% 15%;
  color: #ffffff;
}

.allpers {
  color: #ffff00;
  font-size: 22px;
}

.choosepers {
  font-size: 30px;
}

.minibox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.left-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.moretext {
  font-size: 16px;
  width: 100%;
  max-width: 600px;
}

.iconmain {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.iconinfo {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.mini-icon {
  width: 50px;
  height: 50px;
}

.mainwhy {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.whyhim {
  font-size: 19px;
  color: #c9c900;
}

.moreinfo {
  font-size: 13px;
}

.right-section {
  width: 60%;
  height: 70%;
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
}

.right-section-text {
  font-size: 18px;
  color: #c9c900;
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
.char-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 9px;
}
.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 90px;
  background-color: #e8e8e8;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 3px #7d7d7d;
}
.vote:hover {
  transform: scale(1.034);
  background: #cdcd01;
  color: #ffffff;
  box-shadow: 0 15px 3px #4d4d00;
  border: none;
}
.characters {
  width: 260px;
  height: 250px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: brightness(80%);
  box-shadow: 0 5px 5px 0px rgb(0, 0, 0);
}
.characters:hover {
  transform: scale(1.06);
  box-shadow: 0 0 2px 2px rgb(255, 255, 255);
  filter: brightness(110%);
  transition: 0.9s;
}
.lusy {
  border-radius: 0 50px 0 0;
}
.kivi {
  border-radius: 50px 0 50px 0;
}
.devid {
  border-radius: 50px 0 50px 0;
}
.rebekka {
  border-radius: 0 50px 0 50px;
}
/* БЛОК ОКОНЧЕН */
.container4 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(to bottom, #000020, #0f0f1f, #1b1b2f);
  color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 3% 15% 5% 15%;
}
.version {
  color: #c9c900;
  font-size: 22px;
}
.textcont4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  font-size: 32px;
  color: #c9c9c9;
}
.maintoppers {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.topper-item {
  min-width: 222px;
  border-radius: 20px;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.toppers {
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in;
  display: flex;
  box-shadow: 0 0 15px 15px rgb(255, 255, 255);
}

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 1.5s;
  border-radius: 20px;
  gap: 15px;
  justify-content: space-between;
}

.overlay h3,
.overlay p {
  margin: 10px 0;
}

.overlay .buton {
  max-width: 50%;
  display: inline-block;
  padding: 8px 16px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 7px 3px #848484;
  border-radius: 8px;
  display: flex;
  border: none;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.overlay .buton:hover {
  transform: scale(1.034);
  background: #cdcd01;
  color: #ffffff;
  box-shadow: 0 10px 3px #4d4d00;
  border: none;
}

.line1 {
  position: relative;
  display: inline-block;
}

.line1 span {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.topper-item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

.topper-item:hover .toppers {
  filter: blur(6.5px);
  transition: all 2s ease;
}
.texttop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reyting {
  position: absolute;
  right: 0;
  top: 50px;
  width: 45px;
  height: auto;
}
.line2 {
  font-size: 19px;
}
.chapter {
  display: flex;
  align-items: center;
  padding: 15px 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 3px #7d7d7d;
  margin: 20px 0 0 0;
}
.chapter:hover {
  transform: scale(1.034);
  background: #cdcd01;
  color: #ffffff;
  box-shadow: 0 15px 3px #4d4d00;
  border: none;
}
.inline {
  display: flex;
  justify-content: center;
}
/* БЛОК ОКОНЧЕН */
.container5 {
  padding: 20% 15% 20% 15%;
}
